/**
 * A simple theme for reveal.js presentations, similar
 * to the default theme. The accent color is darkblue.
 *
 * This theme is Copyright (C) 2012 Owen Versteeg, https://github.com/StereotypicalApps. It is MIT licensed.
 * reveal.js is Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url('https://fonts.googleapis.com/css?family=Signika&display=swap');
section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: #fff; }
/* @import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400,500i,700i&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap');
/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: white;
  counter-reset: example-counter 0;
}

.ex::before {
  counter-increment: example-counter;
  content:"(" counter(example-counter) ") ";
}

.exb::before {
  counter-increment: example-counter;
  content:"(" counter(example-counter) ") *";
  padding-left: 2em;
}

.reveal {
  /* font-family: "Linux Biolinum O", sans-serif; */
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: normal;
  color: #000;
  text-align: left}

.reveal .front {
  /* background-color: #09d0b7; */
  background-color: #f2cc72;
  /* #eeb70d; */
    font-family: 'Signika', sans-serif;
}

span.italic {
  font-style: italic;
}

span.boldface {
  font-weight: 700;
}

.reveal .front_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.reveal .level2 {
  background-color: white;
}

.reveal .level1 {
  background-color: #09d0b7;
  display: flex;
  line-height: 4em;
    min-height: 0 !important;
}

.reveal .level1 h1 {
  padding-top: 2em;
  text-align: right;
  /* font-family: 'Heebo', sans-serif; */
  font-size: 2.5em;

}

.reveal .level2 h2{
  font-size:2em;
}

.reveal .front .front_info {
  width: 75%;
  flex: none;
align-self: flex-end;
}

.reveal .front h1 {

  font-size:2.5em;
  font-weight: 700;
  padding-top: 1em;
    font-family: 'Signika', sans-serif;
}

.reveal .front .front_info h2 {
  font-size:1.5em;
    /* font-family: 'Heebo', sans-serif; */
}

.reveal .front .front_info h3 {
  font-size:0.8em;
    font-family: 'Signika', sans-serif;
}

.reveal .exe {
  border-collapse: collapse;
  border-bottom: none;
  text-color: red;
}

.reveal .small {
  font-size: 0.75em;
}

.reveal .front .front_logo {
width: 25%;
flex: none;

}

.background-logo{
  float: left;
}

.reveal .center {
    background-color: #09d0b7;
     /* #eeb70d; */
  }

.reveal .slide .whe {
  background: red;
}

  .sc {
    font-variant: small-caps;
  }

.st {
  text-decoration: line-through;
}

  .reveal .center h2, .reveal .center h1{
    font-family: 'Signika', sans-serif;
  }
::selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.99);
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.99);
  text-shadow: none; }

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #000;
  /* font-family: "Linux Biolinum O", Impact, sans-serif; */
  font-family: "Signika", sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 3.77em; }

.reveal h2 {
  font-size: 1.75em; }

.reveal h3 {
  font-size: 1.55em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

.reveal caption {
  padding-top: 0.3em;
  font-size: 0.66em;
  text-align: left;
  font-weight: 700;
}

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3;
  font-family: 'Fira Sans Condensed', sans-serif;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal .img2{
  float: center;
  min-width: 20%;
  max-width: 20%;
}

.reveal .img3{
  float: center;
  min-width: 50%;
  max-width: 50%;
}

.reveal .img4{
  float: center;
  min-width: 30%;
  max-width: 70%;
}

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }



.reveal sup {
  vertical-align: super;
  font-size: smaller; }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #00008B;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #0000f1;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #00003f; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 0px 0px;
  /*background: rgba(255, 255, 255, 0.12);*/
  /*border: 4px solid #000;*/
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); */
}

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #00008B;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #00008B; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: black;
  height: 0.12em;}

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #fff; } }


/******************
Multiple column
******************/

